{% extends 'layout.html' %} {% block content %}
<section id="home">
    <p>
        L'heure est grave! <br> <br> Victime une année de plus du tyrannique challenge 48h imposé par Ynov. Six étudiants se retrouvent à bosser sur ce projet choisi par Dark Vandeshooters.<br><br> Seule à ne pas utiliser Vuejs, cette fine équipe de la
        résistance composée des maîtres B3 Victor et Huguette, des chevaliers B2 Enzo et Louis et de leurs padawans B1 Dylan et Flavian devra se serrer les coudes pour parvenir à sauver leur année de l'échec.
    </p>
</section>


<video autoplay="true" muted>
    <source src="/images/video.mp4" type="video/mp4">
</video> {% endblock %}