{% extends 'layout.html' %} {% block content %}
<section id="planet" class="page">
    <h1>{{planet.name}}</h1>
    <p>Climate : {{planet.climate}}</p>
    <p>Diameter : {{planet.diameter}}</p>
    <p>Gravity : {{planet.gravity}}</p>
    <p>Orbital period : {{planet.orbital_period}}</p>
    <p>Population : {{planet.population}}</p>
    <p>Rotation period : {{planet.rotation_period}}</p>
    <p>Surface water : {{planet.surface_water}}</p>
    <p>Rotation period : {{planet.rotation_period}}</p>
    <p>Terrain : {{planet.terrain}}</p>
    <div>
        <span>Residents</span>
        <ul class="little">
            {% for resident in planet.residents %}
            <a href="{{resident.url}}">
                <li>{{resident.name}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span>Films</span>
        <ul class="little">
            {% for film in planet.films %}
            <a href="{{film.url}}">
                <li>{{film.title}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}