{% extends 'layout.html' %} {% block content %}
<section id="planet">
    <h1>Name : {{planet.name}}</h1>
    <h1>Climate : {{planet.climate}}</h1>
    <h1>Diameter : {{planet.diameter}}</h1>
    <h1>Gravity : {{planet.gravity}}</h1>
    <h1>Orbital period : {{planet.orbital_period}}</h1>
    <h1>Population : {{planet.population}}</h1>
    <h1>Rotation period : {{planet.rotation_period}}</h1>
    <h1>Surface water : {{planet.surface_water}}</h1>
    <h1>Rotation period : {{planet.rotation_period}}</h1>
    <h1>Terrain : {{planet.terrain}}</h1>
</section>
{% endblock %}