{% extends 'layout.html' %} {% block content %}
<section id="specie">
    <h1> Name : {{specie.name}}</h1>
    <h1> Height : {{specie.average_height}}</h1>
    <h1> Lifespan : {{specie.average_lifespan}}</h1>
    <h1> Classification : {{specie.classification}}</h1>
    <h1> Created : {{specie.created}}</h1>
    <h1> Designation : {{specie.designation}}</h1>
    <h1> Edited : {{specie.edited}}</h1>
    <h1> Eye colors : {{specie.eye_colors}}</h1>
    <h1> Hair colors : {{specie.hair_colors}}</h1>
    <h1> Homeworld : {{specie.homeworld}}</h1>
    <h1> Language : {{specie.language}}</h1>
    <h1> Skin colors : {{specie.skin_colors}}</h1>
</section>
{% endblock %}