{% extends 'layout.html' %} {% block content %}
<section id="starship">
    <h1>Name : {{starship.name}}</h1>
    <h1>Model : {{starship.model}}</h1>
    <h1>Manufacturer : {{starship.manufacturer}}</h1>
    <h1>Cost in credits : {{starship.cost_in_credits}}</h1>
    <h1>Length : {{starship.length}}</h1>
    <h1>Max atmosphering speed : {{starship.max_atmosphering_speed}}</h1>
    <h1>Crew : {{starship.crew}}</h1>
    <h1>Passengers : {{starship.passengers}}</h1>
    <h1>Cargo capacity : {{starship.cargo_capacity}}</h1>
    <h1>Consumables : {{starship.consumables}}</h1>
    <h1>Hyperdrive rating : {{starship.hyperdrive_rating}}</h1>
    <h1>MGLT : {{starship.MGLT}}</h1>
    <h1>Starship class : {{starship.starship_class}}</h1>
    <!-- [] -->
    <!-- [] -->

</section>
{% endblock %}