{% extends 'layout.html' %} {% block content %}
<section id="vehicle">
    <h1>Name : {{vehicle.name}}</h1>
    <h1>Model : {{vehicle.model}}</h1>
    <h1>Manufacturer : {{vehicle.manufacturer}}</h1>
    <h1>Cost in credits : {{vehicle.cost_in_credits}}</h1>
    <h1>Length : {{vehicle.length}}</h1>
    <h1>Max atmosphering speed : {{vehicle.max_atmosphering_speed}}</h1>
    <h1>Crew : {{vehicle.crew}}</h1>
    <h1>Passengers : {{vehicle.passengers}}</h1>
    <h1>Cargo capacity : {{vehicle.cargo_capacity}}</h1>
    <h1>Consumables : {{vehicle.consumables}}</h1>
    <h1>Vehicle class : {{vehicle.vehicle_class}}</h1>
    <!-- [] -->
    <!-- [] -->

</section>
{% endblock %}