{% extends 'layout.html' %} {% block content %}
<section id="vehicle" class="page">
    <h1>{{vehicle.name}}</h1>
    <p>Model : {{vehicle.model}}</p>
    <p>Manufacturer : {{vehicle.manufacturer}}</p>
    <p>Cost in credits : {{vehicle.cost_in_credits}}</p>
    <p>Length : {{vehicle.length}}</p>
    <p>Max atmosphering speed : {{vehicle.max_atmosphering_speed}}</p>
    <p>Crew : {{vehicle.crew}}</p>
    <p>Passengers : {{vehicle.passengers}}</p>
    <p>Cargo capacity : {{vehicle.cargo_capacity}}</p>
    <p>Consumables : {{vehicle.consumables}}</p>
    <p>Vehicle class : {{vehicle.vehicle_class}}</p>
    <div>
        <span>Pilots</span>
        <ul class="little">
            {% for pilot in vehicle.pilots %}
            <a href="{{pilot.url}}">
                <li>{{pilot.name}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span>Films</span>
        <ul class="little">
            {% for film in vehicle.films %}
            <a href="{{film.url}}">
                <li>{{film.title}}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}