body {
    color: yellow;
    background-color: black;
}
ul {
    padding: 25px;
    width: 66%;
    list-style-type: none;
}

li {
    display: inline-block;
    width: 33%;
}

.characters {
    border: solid 2px yellow;
    padding: 50px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 1000px;
    display: inline-block;
}

.planets {
    border: solid 2px yellow;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
}

.starships {
    border: solid 2px yellow;
    padding: 25px;
    border-radius: 10px;
}

.vehicles {
    border: solid 2px yellow;
    padding: 25px;
    border-radius: 10px;
}

.species {
    border: solid 2px yellow;
    padding: 25px;
    border-radius: 10px;
}