#film {
    margin: auto;
    margin-top: 260px;
    margin-bottom: 20px;
    width: 50%;
    font-family: var(--font-family);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening {
    text-align: justify;
}

#film div {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#film div span {
    text-decoration: underline;
}

#film div ul {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#film div ul a {
    margin: 15px;
}