#home {
    display: none;
    margin: auto;
    margin-top: 260px;
    width: 50%;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--primary-color);
}

#home p {
    font-size: xx-large;
    text-align: justify;
}

video {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}