#list {
    --black: rgba(0, 0, 0, 0.8);
    --grey: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 260px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list a {
    width: 100%;
}

#list h1 {
    padding: 10px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: xx-large;
    background-color: var(--black);
}

#list li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: medium;
    background-color: var(--grey);
}

#list li:hover {
    background-color: var(--black);
}

#list ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#next {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#next span {
    font-family: var(--font-family);
    font-weight: bold;
}

#previous {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#previous span {
    font-family: var(--font-family);
    font-weight: bold;
}

@media all and (max-width: 906px) {
    #list {
        margin-top: 165px;
    }
}

@media all and (max-width: 840px) {
    #list {
        width: 70%;
    }
}

@media all and (max-width: 600px) {
    #previous,
    #next {
        padding: 5px;
        background-color: var(--primary-color);
        color: black;
    }
}

@media all and (max-width: 580px) {
    #list {
        width: 90%;
    }
}